p {
	color: rgb(255, 255, 255); font-size: 35px;
}
div#main {
	margin: auto; width: 1024px; height: 1050px; background-color: rgb(128, 184, 232);
}
div#logo {
	width: 1024px; height: 195px; padding-top: 20px; padding-left: 120px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 5px; border-bottom-style: double;
}
div#text {
	padding: 5px; width: 754px; height: 690px; border-left-color: rgb(255, 255, 255); border-left-width: 5px; border-left-style: double; float: right;
}
div#text p {
	font-size: 15px;
}
div#footer {
	width: 1024px; height: 145px; padding-top: 5px; padding-left: 120px; clear: both; border-top-color: rgb(255, 255, 255); border-top-width: 5px; border-top-style: double;
}
div#menu {
	width: 230px; height: 700px; padding-left: 20px; float: left;
}
div#logo img {
	vertical-align: middle;
}
